<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <ul class="nav">
          <li class="nav-item">
            <button type="button" class="btn btn-warning">
              <a href="#">Home</a>
            </button> <br>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning">
              <a href="/scrape">START SCRAPING</a>
            </button> <br>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-warning">
              <a href="/saved">VIEW SAVED ARTICLES</a>
            </button>
          </li>
          <li>
            <h1>
              UNICEF USA Posts! <small>Web Scraper Using Mongo</small>
            </h1>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="card">

        <div class="card-body">
          <p class="card-text">
            <div id="articles"> </div>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div id="notes"></div>
    </div>
  </div>


</div>