<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saved Articles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <ul class="nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-warning">
                                <a href="/">Home</a>
                            </button> <br>
                        </li>
                        <li class="nav-item">

                            <h1> SAVED ARTICLES</h1>

                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="card">

                    <div class="card-body">
                        <p class="card-text">
                            <div id="saved-articles">
                                {{!-- add the return value for article field saved is true --}}
                                {{#each scrapes}}
                                <ul>
                                    <li>
                                        <a href="{{link}}">{{title}}</a> <br />
                                        <p> {{summary}} </p> <br />
                                        <img src="{{photo}}" />
                                    </li>
                                </ul>

                                <br />
                                {{/each}}
                               
                            </div>
                        </p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</body>

</html>