html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5%;
  background-image: url("../images/resized-world-bg.jpg");
  /* background-repeat: no-repeat; */
}


.jumbotron {
  margin-top: 2%;
  width: 80%;
  height:80%;
  box-shadow: 10px 5px 20px 2px lightslategrey;
}
.btn {
  color: white;
}


.jumbotron h1 {
  font-size: 50px;
  font-weight: 200;
}


.article-container {
  padding-bottom: 25px;
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  margin-left: 5%;
}

.scrape-new {
  cursor: pointer;
}


textarea {
  padding: 10px;
  resize: none;
  width: 100%;
}

.deletebtn {
  background-color: red;
  color: white;
}

.savebtn{
  float: right;
}
